name: CI
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup Roswell
      uses: roguehifi/roswell-gh-action@v1
      with:
        sbcl-version: 2.5.10
    - name: Install dependencies
      run: make install-dependencies
    - name: Test
      run: make test
