name: Run tests

on:
  push:
  pull_request:
  workflow_dispatch:
    inputs:
      disable-cache:
        description: 'Disable all caching'
        required: false
        default: 'false'
        type: boolean

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup Roswell
      uses: macnod/roswell-action@v2
      with:
        sbcl-version: 2.5.10
        roswell-version: 23.10.14.114
    - name: Install dependencies
      run: make install-dependencies
    - name: Test
      run: make test
