name: CI
on:
  push:
  pull_request:
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup Roswell
      uses: macnod/roswell-action@v2
      with:
        sbcl-version: 2.5.10
        roswell-version: 23.10.14.114
    - name: Install dependencies
      run: make install-dependencies
    - name: Test
      run: make test
